body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -moz--tap-highlight-color:rgba(0,0,0,0);
  -o--tap-highlight-color:rgba(0,0,0,0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
html,
body {
  position: relative;
  height: 100%;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content {
  position: absolute;
  bottom: 17%;
  left: 50%;
  width: 430px;
  margin-left: -224px;
}
.content .input-box {
  position: relative;
  width: 100%;
  height: 60px;
  padding-left: 192px;
  border-radius: 30px;
  box-sizing: border-box;

  border: 2px solid #ea5504;
}
.content .input-box .box-icon {
  position: absolute;
  top: 10px;
  left: 20px;
  margin-top: -5px;
}
.content .input-box .box-icon img {
  width: 35px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
.content .input-box .box-icon span {
  color: #ea5504;
  font-size: 28px;
  vertical-align: middle;
}
.content .input-box .code-no {
  width: 100%;
  padding: 11px 0 0 10px;
  margin-left: -17px;
  color: #ea5504;
  font-size: 28px;
  -webkit-appearance: none;
  background: none;
  border: none;
  line-height: 28px;
  box-sizing: border-box;
/*  background: #fff;*/
}
.content .submit-btn {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin-top: 20px;
  display: block;
  color: #ea5504;
  font-size: 28px;
  text-align: center;
  border-radius: 30px;
  background: #fff;
  border: 2px solid #ea5504;
  box-sizing: border-box;
}
.content .warn {
  margin-top: 10px;
  color: #ea5504;
  font-size: 22px;
  text-align: center;
}

.tip {
    position: absolute;
    left: 50%;
  bottom: 10px;
  z-index: 1;

  -webkit-transform: translateX(-50%);
}
