<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>未来城市梦想家|校招内推等你来</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="../css/code.css">

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script src="../scripts/lib/common.js"></script>
    <script src="../scripts/lib/html2canvas.min.js"></script>
    <script src="../scripts/lib/jweixin-1.0.0.js"></script>
    <script src="../scripts/lib/myweixin-1.0.js"></script>

    <script>
        var code = wxJs.getUrlParam("code");
    </script>
</head>
<body>
<div id="container">
    <div id="poster-save">
        <!-- 内推码 -->
        <div class="code-box">

        </div>

        <!-- 背景 -->
        <img class="bg" src="../images/2_1.jpg" />

        <a class="link-url" href="http://campus.pingan.com/tech">
            <img src="../images/2_3.png" alt="">
        </a>
    </div>

    <div class="loading-wrapper" id="loadingWrapper">
        <div class="loading-container">
            <div class="loading-con">
                <i class="icon"></i>
                <div class="text">正在加载</div>
            </div>
        </div>
    </div>
</div>

<script>
    /**微信分享*/
    common.wxShare({
        title: "未来城市梦想家|校招内推等你来",
        desc: "机会先给自己人",
        link: location.protocol + "//" + location.hostname +"/test/paProperty2020/views/code.html?code=" + code,
        imgUrl: location.protocol + "//" + location.hostname +"/test/paProperty2020/images/share.png",
        isStat: true
    });


    // 浏览统计
    common.stat();

    window.onload = function() {
        $('#loadingWrapper').show();
        var codeN = code.split("");
        var html = "";

        for(let i = 0; i < codeN.length; i++) {
            html += '<p>' + codeN[i] + '</p>';
        }

        $(".code-box").append(html);

        var shareContent = document.getElementById('poster-save'); //需要截图的包裹的（原生的）DOM 对象
        var width = shareContent.offsetWidth; //获取dom 宽度
        var height = shareContent.offsetHeight; //获取dom 高度
        var canvas = document.createElement("canvas"); //创建一个canvas节点
        var scale = 2; //定义任意放大倍数 支持小数
        canvas.width = width * scale; //定义canvas 宽度 * 缩放
        canvas.height = height * scale; //定义canvas高度 *缩放
        canvas.getContext("2d").scale(scale, scale); //获取context,设置scale

        var opts = {
            scale: scale, // 添加的scale 参数
            canvas: canvas, //自定义 canvas
            // logging: true, //日志开关，便于查看html2canvas的内部执行流程
            width: width, //dom 原始宽度
            height: height,
            useCORS: true // 【重要】开启跨域配置
        };

        html2canvas(shareContent, opts).then(function(canvas) {
            var context = canvas.getContext('2d');
            // 【重要】关闭抗锯齿
            context.mozImageSmoothingEnabled = false;
            context.webkitImageSmoothingEnabled = false;
            context.msImageSmoothingEnabled = false;
            context.imageSmoothingEnabled = false;


            // 【重要】默认转化的格式为png,也可设置为其他格式
            var img = document.createElement('img');
            img.src = canvas.toDataURL();
            img.className = 'canvas abs';

            $(img).css({
                "width": canvas.width / 2 + "px",
                "height": canvas.height / 2 + "px"
            });

            shareContent.appendChild(img);
            $('#loadingWrapper').hide();

        });
    };
</script>
</body>
</html>